<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    favouriteData = []
    {% for item in favouriteCounts %}
    var userName = "{{ item.user_id.user_name | safe }}";
    var favc = {{ item.fav_count | safe }};
    favouriteData.unshift(
        { "User": userName, "Number of Favourites": favc }
    );
    {% endfor %}

    makeSocialGraph(favouriteData, ".favourite", "Most Favourited", "Number of Favourites" );
</script>
</body>
</html>