<!DOCTYPE html>
<meta charset="utf-8">

<head>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script> {% load static %}
    <script src="{% static 'graph/barGraph.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'graph/barGraph.css' %}"></link>
</head>

<body>
    <script>

        sentimentData = [
            { tag: "Positive", count: {{ sentimentCounts.0 | safe }}},
            { tag: "Neutral", count: {{ sentimentCounts.1 | safe }}},
            { tag: "Negative", count: {{ sentimentCounts.2 | safe }}}
        ];

        retweetData = [];
        {% for item in retweetCounts %}
        var userName = "{{ item.user_id.user_name | safe }}";
        var rtc = {{ item.rt_count | safe }};
        retweetData.unshift(
            { tag: userName, count: rtc }
        );
        {% endfor %}

        favouriteData = []
        {% for item in favouriteCounts %}
        var userName = "{{ item.user_id.user_name | safe }}";
        var favc = {{ item.fav_count | safe }};
        favouriteData.unshift(
            { tag: userName, count: favc }
        );
        {% endfor %}
    
        /*replyData = [];
        {% for item in replyCounts %}
          var userName = "{{ item.user_id.user_name | safe }}";
          var repc = {{ item.rep_count | safe }};
          favouriteData.unshift(
            {tag: userName, count: repc}
          );
        {% endfor %}
    */
        makeGraph(sentimentData, "Tweets by Sentiment");
        makeGraph(retweetData, "Most Retweeted");
        makeGraph(favouriteData, "Most Favourited");
    //makeGraph(replyData, "Most Replied");

    </script>
</body>
