<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
<title>Social Media Analytic and Visualization: Visualizing traffic related tweets in Edmonton</title>

<head>
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <!-- D3 library files -->
    <script src="{% static 'graph/d3.v4.min.js' %}"></script>
    <script src="{% static 'graph/dimple.v2.3.0.min.js' %}"></script>

    <!-- jQuery files link -->
    <script src="{% static '/jquery/jquery.min.js' %}"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static '/bootstrap/bootstrap.min.css' %}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static '/bootstrap/bootstrap-theme.min.css' %}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static '/bootstrap/bootstrap.min.js' %}"></script>

    <!-- jQuery's slider links -->
    <script src="{% static '/jquery/jquery-1.12.4.js' %}"></script>
    <script src="{% static '/jquery/jquery-ui.js' %}"></script>
    <link rel="stylesheet" href="{% static '/jquery/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static '/jquery/jquery-ui.structure.css' %}">
    <link rel="stylesheet" href="{% static '/jquery/jquery-ui.theme.css' %}">

    <link rel="stylesheet" type="text/css" href="{%static '/traffic_data/keen-dashboards.css' %}/">
    <link rel="stylesheet" type="text/css" href="{%static 'tweets.css' %}/">
    <link rel="stylesheet" type="text/css" href="{%static 'graph/bar-graphs.css' %}/">
    <link rel="stylesheet" type="text/css" href="{%static 'main.css' %}/">

    <script>
        var min_date = "{{ min_date }}".substring(0, 13);
        var cur_earliest = "{{ relative_earliest }}".substring(0,13);
        var max_date = "{{ max_date }}".substring(0, 13);
    </script>

    <script src="{% static 'graph/barGraph.js' %}"></script>
    <script src="{% static 'graph/lineGraph.js' %}"></script>
    <script src="{% static 'tweet_info.js' %}"></script>
    <script src="{% static 'listeners.js' %}"></script>
    <script src="{% static 'datepicker.js' %}"></script>
    <script src="{% static 'dialog.js' %}"></script>
    <script src="{% static 'twitter_widget.js' %}"></script>
    <script src="{% static 'reload_page.js' %}"></script>
</head>

<body class="keen-dashboard" style="padding-top: 80px;">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div id="header-bar" class="container-fluid">
        <div class="row" id="flex">
            <div class="col-sm-3">
                <a class="head-title" href="./">
                    <p>Social Media Analytic and Visualization</p>
                    <p1>Visualizing traffic related tweets in Edmonton</p1>
                </a>
            </div>
            <div class="col-sm-2">
                <p1 class="num-tweet" class="header-text">Number of Tweets:</p1>

                <button id="tweet_btn" class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">10 <i class="caret"></i>
                </button>
                <ul id="num_tweets" class="dropdown-menu">
                    <li><a class="item">5</a></li>
                    <li><a class="item">10</a></li>
                    <li><a class="item">15</a></li>
                    <li><a class="item">20</a></li>
                    <li><a class="item">25</a></li>
                    <li><a class="item">30</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <p1 class="hashtag">Hashtag:</p1>
                <button id="hashtag-dropdown" class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All <i id="dropdown_caret"
                                                                                                 class="caret"></i>
                </button>
                <ul id="hashtag-list" class="dropdown-menu">
                    <li><a class="item">All</a></li>
                    <li><a class="item">#yegtraffic</a></li>
                    <li><a class="item">#visionzero</a></li>
                    <li><a class="item">#abroads</a></li>
                </ul>
                <div id="loader" style="display:none"></div>
            </div>
            <!--Date picker text fields with calender-->
            <div class="col-sm-1">
                <label class="datepicker" for="from">From</label>
                <input type="text" id="from" name="from" placeholder="choose starting date">
                <label class="datepicker" for="to">to</label>
                <input type="text" id="to" name="to" placeholder="choose ending date">
            </div>
            <div class="col-sm-4" id="updated">
                <a id="bind" class="header-text" href=""><b>Update Tweets</b></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">

            </div>
            <div class="col-sm-3">
                <p id="last_updated">Last updated: {{ last_upload_date }}</p>
            </div>
        </div>
    </div>
</div>
</body>

<div id="graphs-id" class="container-fluid">
    <div class="row">
        <div class="col-sm-8 graphs">
            <div class="bar-graphs" id="bar_graphs" }>
                {% include 'graphs.html' %}
            </div>
            <div class="sent_line" id="sent_line">
                {% include 'line_chart.html' %}
            </div>
        </div>
        <div id="tweets" class="col-sm-4" tweets-type="recent">
            <div id="top_tweets">
                {% include 'tweets.html' %}
            </div>
        </div>
    </div>
</div>

<div class="dial"></div>
</body>

{% csrf_token %}

</div>

</html>
