<!DOCTYPE html>
<meta charset="utf-8">
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
<title>City of Edmonton</title>

<head>

    {% load static %}

    <!-- D3 library files -->
    <script src="{% static 'graph/d3.v4.min.js' %}"></script>
    <script src="{% static 'graph/dimple.v2.3.0.min.js' %}"></script>
    <script src="{% static 'graph/barGraph.js' %}"></script>
    <script src="{% static 'graph/lineGraph.js' %}"></script>
    <script src="{% static 'tweet_info.js' %}"></script>

    <!-- jQuery files link -->
    <script src="{% static '/jquery/jquery.min.js' %}"></script>

    <!-- jQuery's slider links -->
    <script src="{% static '/jquery/jquery-1.12.4.js' %}"></script>
    <script src="{% static '/jquery/jquery-ui.js' %}"></script>
    <link rel="stylesheet" href="{% static '/jquery/jquery-ui.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static '/bootstrap/bootstrap.min.css' %}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static '/bootstrap/bootstrap-theme.min.css' %}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static '/bootstrap/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{%static '/traffic_data/keen-dashboards.css' %}/">
    <link rel="stylesheet" type="text/css" href="{%static 'tweets.css' %}/">
    <link rel="stylesheet" type="text/css" href="{%static 'graph/bar-graphs.css' %}/">
    <link rel="stylesheet" type="text/css" href="{%static 'main.css' %}/">

    <script src="{% static 'listeners.js' %}"></script>
    <script src="{% static 'datepicker.js' %}"></script>

</head>

</head>

<body class="keen-dashboard" style="padding-top: 80px;">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div id="header-bar" class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <a class="navbar-brand" href="./">
                    Sentiment Analysis
                </a>
            </div>
            <div class="col-sm-2">
                <a class="header-text">
                    Number of Tweets:
                </a>
            </div>
            <!--Number of tweets dropdown menu-->
            <div class="col-sm-1 dropdown">
                <button id="tweet_btn" class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    10
                    <i class="caret"></i>
                </button>
                <ul id="num_tweets" class="dropdown-menu">
                    <li><a class="item">5</a></li>
                    <li><a class="item">10</a></li>
                    <li><a class="item">15</a></li>
                    <li><a class="item">20</a></li>
                    <li><a class="item">25</a></li>
                    <li><a class="item">30</a></li>
                </ul>
            </div>
            <!--Date picker text fields with calender-->
            <div class="col-sm-7">
                <label class="datepicker" for="from">From</label>
                <input type="text" id="from" name="from">
                <label class="datepicker" for="to">to</label>
                <input type="text" id="to" name="to">
            </div>
        </div>
    </div>
</div>

<div id="graphs-id" class="container-fluid">
    <div class="row">
        <div class="col-sm-8 graphs">
            <div class="bar-graphs">
                {% include 'graphs.html' %}
            </div>
            <div class="sent_line">
                {% include 'line_chart.html' %}
            </div>
        </div>
        <div id="tweets" class="col-sm-4" tweets-type="recent">
            {% include 'tweets.html' %}
        </div>
    </div>
</div>
</body>

{% csrf_token %}

</div>

</html>
