<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script>

    $(".sentiment").click(function(){
        $("#tweets").html("<b>Most Recent Tweets</b>");
    });
    {% for tweet in recentTweets %}
        $(".sentiment").click(function(){
            var date = new Date("{{ tweet.creation_date | safe }}");
            var formattedDate = date.toDateString();
            var t_body = "{{ tweet.tweet_body | safe }}";
            var screen_name = "{{ tweet.user_id.screen_name | safe }}";
            var name = "{{ tweet.user_id.name | safe }}";
            var t_url = "{{ tweet.tweet_url }}";
            var t_rating = "{{ tweet.sentiment_string | safe }}";
        process_tweet(t_body, formattedDate, screen_name, name, t_url, t_rating);
        });
    {% endfor %}

    $(".reply").click(function(){
        $("#tweets").html("<b>Top 10 Replied Tweets</b>");
    });
    {% for tweet in topReply %}
    $(".reply").click(function(){
        var date = new Date("{{ tweet.creation_date | safe }}");
        var formattedDate = date.toDateString();
        var t_body = "{{ tweet.tweet_body | safe }}";
        var screen_name = "{{ tweet.user_id.screen_name | safe }}";
        var name = "{{ tweet.user_id.name | safe }}";
        var t_url = "{{ tweet.tweet_url }}";
        var t_rating = "{{ tweet.sentiment_string | safe }}";
    process_tweet(t_body, formattedDate, screen_name, name, t_url, t_rating);
    });
    {% endfor %}

    $(".favourite").click(function(){
        $("#tweets").html("<b>Top 10 Favorited Tweets</b>");
    });
    {% for tweet in topFavorite %}
    $(".favourite").click(function(){
        var date = new Date("{{ tweet.creation_date | safe }}");
        var formattedDate = date.toDateString();
        var t_body = "{{ tweet.tweet_body | safe }}";
        var screen_name = "{{ tweet.user_id.screen_name | safe }}";
        var name = "{{ tweet.user_id.name | safe }}";
        var t_url = "{{ tweet.tweet_url }}";
        var t_rating = "{{ tweet.sentiment_string | safe }}";
    process_tweet(t_body, formattedDate, screen_name, name, t_url, t_rating);

    });
    {% endfor %}

    $(".retweet").click(function(){
        $("#tweets").html("<b>Top 10 Retweeted Tweets</b>");
    });
    {% for tweet in topRetweet %}
    $(".retweet").click(function(){
        var date = new Date("{{ tweet.creation_date | safe }}");
        var formattedDate = date.toDateString();
        var t_body = "{{ tweet.tweet_body | safe }}";
        var screen_name = "{{ tweet.user_id.screen_name | safe }}";
        var name = "{{ tweet.user_id.name | safe }}";
        var t_url = "{{ tweet.tweet_url }}";
        var t_rating = "{{ tweet.sentiment_string | safe }}";
    process_tweet(t_body, formattedDate, screen_name, name, t_url, t_rating);
    });
 {% endfor %}

</script>

</body>
</html>
