<script async>

    function get_recent_tweets() {
        var block = [];
        {% for tweet in recentTweets %}
            var date = new Date("{{ tweet.creation_date | safe }}");
            var formattedDate = date.toDateString();
            var t_body = "{{ tweet.tweet_body | safe }}";
            var screen_name = "{{ tweet.user_id.screen_name | safe }}";
            var name = "{{ tweet.user_id.name | safe }}";
            var t_url = "{{ tweet.tweet_url }}";
            var t_rating = "{{ tweet.sentiment_string | safe }}";
            var t_id = "{{ tweet.tweet_id | safe }}";
            block.push(process_tweet(t_body, formattedDate, screen_name, name, t_url, t_rating, t_id));
        {% endfor %}

        return block;
    }

    var max_tweets = $("#tweet_btn").text();
    max_tweets = max_tweets.replace(/\s+/g, "");
    var recent_tweets = get_recent_tweets();
    var recent_title = make_tweets_title('recent', max_tweets);


    $("#tweets").html("<b>" + recent_title + "</b>");
    $("#tweets").append(recent_tweets.slice(0, max_tweets));
    bind_tweets('.sentiment','recent', recent_tweets.slice(0, max_tweets), max_tweets);

    $(document).ready(function() {
        $('#num_tweets a').click(function () {
            var max_tweets = $(this).text();
            update_tweets('recent', recent_tweets.slice(0, max_tweets));
            bind_tweets('.sentiment','recent', recent_tweets.slice(0, max_tweets), max_tweets);
        });
    });
</script>

