/*
 * Contains the styling for the graphs
 */

 /* For the div that contains all the graphs */
.graphs {
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    left: 0;
    top: 12vh;
    height: 87vh;
}


