#flex {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
    background-color: #1A232D;
}

#date-slider {
    margin: 0 0 0 82vh;
    background-color: white;
}

#header-bar {
    margin: 0;
}

#date-range {
    color: white;
}

#bind,
.hashtag,
.num-tweet {
    display: inline-block;
    color: white;
    padding-top: 2vh;
    padding-right: 0.4vh;
}

#tweet_btn,
#hashtag-dropdown {
    border-radius: 3px;
    padding: 0.3vh 0.7vh;
    background-color: white;
    color: #1A232D;
}

.header-text {
    color: white;
}

.date-picker {
    color: white;
}

label {
    display: inline-block;
    color:white;
    padding-top: 1.3rem;
    padding-bottom: 1.0rem;
}

#updated {
    color: white;
}

#updated a {
    margin:auto;
    float: right;
}

.head-title {
    float:left;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    height: 50px;
    padding-top: 3vh;
    line-height: 8px;
    color: #fff;
}

.head-title p{
    font-size: 18px;
}

.head-title p1{
    font-size: 12px;
}

.head-title:hover,
.head-title:focus {
    text-decoration: none;
    color: #cecece;
    background-color: transparent;
}

