#flex {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

#date-slider {
    margin: 0 0 0 82vh;
    background-color: white;
}

#header-bar {
    margin: 0;
}

#date-range {
    color: white;
}

.hashtag,
.num-tweet {
    display: inline-block;
    color: white;
    padding-top: 1.3rem;
    padding-bottom: 1.0rem;
}

#tweet_btn,
#hashtag-dropdown {
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    color: inherit;
    background: white;
}

.header-text {
    color: white;
}

.date-picker {
    color: white;
}

label {
    display: inline-block;
    color:white;
    padding-top: 1.3rem;
    padding-bottom: 1.0rem;
}

#updated {
    color: white;
}

#updated a {
    margin:auto;
    float: right;
}

.head-title {
    float:left;
    height: 50px;
    padding: 12px 15px;
    line-height: 8px;
    color: #fff;
}

.head-title p{
    font-size: 18px;
}

.head-title p1{
    font-size: 12px;
}

.head-title:hover,
.head-title:focus {
    text-decoration: none;
    color: #cecece;
    background-color: transparent;
}

.tweet-highlight {
    background-color: #BADDEA;
}

#bind {
    padding-top: .7rem;
}
