/*
 * Contains the styling for the tweets
 */

/* The block that holds the tweet body */
blockquote.twitter-tweet {
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 0.5vh 0.5vh;
    padding: 2vh;
    width: 61vh;
    background-color: white;
}

/* Tweet body text */
blockquote.twitter-tweet p {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

blockquote.twitter-tweet a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
    text-decoration: underline;
}

/* The container that holds the tweets */
#tweets {
    margin: 5% 66%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    left: 0;
    top: 0;
    height: 90vh;
}

#neutral-rating {
    color: black;
    font-weight: bold;
    font-size: 1.125em;
}

#positive-rating {
    color: green;
    font-weight: bold;
    font-size: 1.125em;
}

#negative-rating {
    color: red;
    font-weight: bold;
    font-size: 1.125em;
}
